{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My articles</title>    
        <link rel="stylesheet"  href= "{% static 'styles.css'%}">
    </head>
    <body>
        <header class = 'wrapper'>
            <a href="{%url 'Articles:home'%}"> <img src = "{% static 'Images/Firefly.png'%}"  width="10%", height="10%"/> </a>

            <nav>
                <ul>    
                    {% if user.is_authenticated%}
                    <li>
                        <form class = 'log-out link' action = "{%url 'Accounts:logout'%}" method = 'POST'> 
                        {%csrf_token%}
                        <button type="submit"> Logout </button>
                        </form>
                    </li>
                    
    

                        
                    
                    {% else%}
                    <li>
                        <form class = 'log-in link' action = "{%url 'Accounts:login'%}" method = 'POST'> 
                        {%csrf_token%}
                        <button type="submit"> Login </button>
                        </form>
                    </li>


                    {%endif%}
                </ul>
            </nav>
        </header>
        <div class ='wrapper'>

            {% block content%}
            {% endblock%}
        </div>
    </body>


</html>