{%extends 'base.html'%}


{% block content%}




<!-- <img src = '/static/Images/Firefly.png'/> -->
<home>The Home Page</home>

<h1> Currently loggin in as: {{username}}</h1>

<h2> The Registered names on the system are:</h2>



<div class="names">
    {% for name in names %}
        <div class = 'names \n'>   
        <h3><a href="{%url 'Articles:members' name.name%}">The Name: {{name.name}}</a> </h3>
        <p>Their Financial status: {{name.Finances}}</p>
        </div>
        <p>The body of the Student: {{name.shorten}}</p>
    {% endfor %}
</div>


<h1>The Articles present are:</h1>
<div class = 'articles'>

    {%for article in articles%}

        <div class = 'articles \n'>
            <p> <a href="{%url 'Articles:articles' article.slug%}">{{article.title}}</a></p>
            <n>Date: {{article.date}}</n>
            <a href="{%url 'Articles:articles' article.slug%}"> <img src = {{article.thumb}} width = 40% height =40% /> </a>
        </div>
    {%endfor%}


</div>



 {%endblock%}